


.body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  text-decoration: none;
  color: red;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007BFF; /* Link hover color */
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
  outline: none;
  transition: width 0.3s ease;
}

.search-bar input:focus {
  width: 250px; /* Expands on focus */
  border-color: #007BFF; /* Change border color on focus */
}
.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.welcomeimg {
  width: 80%;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}
.text-overlay {
  position: absolute;
  color: white;
  font-size: 2em;
}
.Solutions {
  max-width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}
.footer {
  width: 100%;
  background-color: #333;
}
.footer h1 {
  padding-left: 2%;
  padding-top: 1%;
}

@media (min-width:1500px) {
  .welcomeimg {
    width: 60%;
  }
}
